.Footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(78, 75, 75);
  height: 10%;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
  p {
    padding-right: 1%;
  }
}
